{% extends "base_master.html" %}
{% load bootstrap5 %}
{% block title %}
    Recipe Form
{% endblock title %}
{% block content %}
    <div class="container mt-3">
        {% if form_type == "Update" %}
            <h1>Update a New Recipe</h1>
        {% else %}
            <h1>Create a New Recipe</h1>
        {% endif %}
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">
                {% if form_type == "Update" %}
                    Update Recipe
                {% else %}
                    Create Recipe
                {% endif %}
            </button>
            <button type="button" class="btn btn-danger"
            onclick="window.location = '{% url 'planner:recipe_list' %}'">Back</button>
        </form>
    </div>
{% endblock content %}
